<ons-page>
	<h2 class="menu-title lessons-title"><i class="fa fa-bars" ng-click="menu.toggleMenu()" style="margin-right:10px;"></i>{{vocabulary[lang]['All lessons']}}</h2>
	<!--<img src="img/elliptic_sign_bg.png" style="width:100%;height: 25%;"></img>
	<div id="logo-sign" style="top:5%;">
		<img src="img/short-logo-small.png" style="width:100%;"></img>
	</div>-->
	<h2 class="proj_header">Project id: {{project_id}}</h2>
	<div class="comments-refresh" ng-click="addClassesToLeftMenu()"><i class="fa fa-refresh" aria-hidden="true"></i></div>
	<ul id="lessons-list">
		<li ng-repeat="(key, value) in milestoneList" data-enabled-by-teacher="{{value.block_status}}" modifier="chevron" ng-click="menuLessonClickFunc(key)"  data-type='{{value.type}}' data-status='{{value.status}}' data-id='{{value.id}}'>
				<span>{{key+1}}</span>{{value.title}}
				<i class="fa fa-lock" aria-hidden="true"></i>
				<i class="fa fa-check" aria-hidden="true"></i>
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</li>
	</ul>
</ons-page>
<style>
.page__background {
    background-color: #fed587!important;
}
</style>