<ons-page>
	<h2 class="menu-title"><i class="fa fa-bars" ng-click="menu.toggleMenu()" style="margin-right:10px;"></i>{{vocabulary[lang]['Edit posts']}}</h2>
	<img src="img/green-top.jpg" class="select-proj-bg" style="top:0;"/>
	<div class="tab-holder">
		<div class="item-tab selected"><i class="fa fa-pencil"></i></div>
		<div class="item-tab" style="float: right;margin-right: 70px;" ng-click="addNewItemPage()"><i class="fa fa-plus"></i></div>
	</div>
	<div style="margin-top:200px;"></div>
	<div ng-repeat="(key, fieldList) in editFieldList">
		<p class="item-edit-name" ng-bind="fieldList['title']" style="padding:15px 10px;text-align:center;" ng-click="editFieldListSection($event)"></p>
		<div class="editFieldsListHolder" style="display:none;">
			<img ng-if="fieldList['image_url']!=''&&!post.updateNewItemImage" src="{{fieldList['image_url']}}" class="img-attach" ng-click="getEditPhotoDialog()"/>
			<img ng-if="fieldList['image_url']==''&&!post.updateNewItemImage" src="new-photo.jpg" class="img-attach" ng-click="getEditPhotoDialog()"/>
			<img ng-if="post.updateNewItemImage" src="{{post.updateNewItemImage}}" class="img-attach" ng-click="getEditPhotoDialog()"/>
			<div ng-repeat="field in fieldList['fields']">
				<section ng-if="checkFieldType(field['type'],'google_map')">
					<input type="text" class="text-input" ng-model="field['value']['address']" placeholder="{{vocabulary[lang]['Address']}}" style="display: block; width: 75%">
					<input type="text" class="text-input" ng-model="field['value']['lng']" placeholder="{{vocabulary[lang]['Longitude']}}" style="display: block; width: 37%; float:right; margin-right:13%;">
					<input type="text" class="text-input" ng-model="field['value']['lat']" placeholder="{{vocabulary[lang]['Latitude']}}" style="display: block; width: 37%; float:right; margin-right:1%;">
					<div style="clear:both;"></div>
				</section>
				<section ng-if="checkFieldType(field['type'],'text')">
					<input type="text" class="text-input" ng-model="field['value']" placeholder="{{field['label']}}" style="display: block; width: 75%">
				</section>
				<section ng-if="checkFieldType(field['type'],'textarea')">
					<textarea class="edit_item_map_holder text-input" ng-model="field['value']" placeholder="{{field['label']}}" style="display: block; width: 75%; min-height:150px;"></textarea>
				</section>
			</div>
			<section>
				<button ng-click="updateItemFunc(fieldList)">{{vocabulary[lang]['Update']}}</button>
				<button ng-click="deleteItemFunc(fieldList['id'])">Delete</button>
			</section>
		</div>
	</div>
</ons-page>