	<ons-page>
		<h2 class="menu-title"><i class="fa fa-bars" ng-click="menu.toggleMenu()" style="margin-right:10px;"></i>{{vocabulary[lang]['Edit layout']}}</h2>
		<img src="img/editapp-top-bg.jpg" class="edit-app-top-bg"/>
		<div style="height: 259px;margin-top: 10%;">
			<input type="text" class="text-input edit_app_input" ng-model="layout.main_title" placeholder="{{vocabulary[lang]['Change main page title']}}" style="margin-top: 5%;"><button class="edit_app_but_top" ng-click="saveText('main_title',layout.main_title)" style="margin-top: 5%;">{{vocabulary[lang]['Save text']}}</button>
			<div style="clear:both;"></div>
			<input type="text" class="text-input edit_app_input" ng-model="layout.app_title" placeholder="{{vocabulary[lang]['Change apps title']}}"><button class="edit_app_but_top" ng-click="saveText('app_title',layout.app_title)">{{vocabulary[lang]['Save text']}}</button>
			<div style="clear:both;"></div>
			<form name="myForm">
				<label>
					<input type="checkbox" ng-model="checkboxPage.registration" ng-change="addPageToApp(checkboxPage.registration)">
					{{vocabulary[lang]['Add post adding and registration page']}}
				</label><br/>
			</form>
			<div style="clear:both;"></div>
		</div>
		<div style="height: 259px;">
			<button ng-click="getPicFile()" class="edit_app_but" style="margin-top: 10%;">{{vocabulary[lang]['Get image from device']}}</button>
			<button ng-click="getPicCam()" class="edit_app_but">{{vocabulary[lang]['Get image from Camera']}}</button>
			<div style="clear:both;"></div>
		</div>
		<div style="height: 259px;">
			<button ng-click="startBuildingApp()" class="edit_app_but" style="margin-top:7%;height: 32%;">{{vocabulary[lang]['Rebuild application']}}</button>
			<a href="{{appLinkDownload.link|trustUrl}}" ng-click="openInBrowser(appLinkDownload.link)" class="edit_app_but" style="text-decoration: none;text-align: center;line-height: 86px;height: 32%;">{{appLinkDownload.text}}</a>
		</div>
		<img src="img/editapp-bottom-bg.jpg" class="edit-app-bottom-bg"/>
	</ons-page>
	<style>
		.page__background {
			background-color: #b3d354;
		}
		.page__content {
			position: relative;
		}
	</style>