<ons-page>
	<img src="img/elliptic_sign_bg.png" style="width:100%;height: 35%;"></img>
	<div id="logo-sign">
		<img src="img/short-logo.png" style="width:100%;"></img>
	</div>
	<div style="position:relative;">
		<i class="fa fa-user username-icon"></i>
		<input type="text" class="text-input sign-input" ng-model="registration.login" placeholder="{{vocabulary[lang]['Enter your login']}}">
		<i class="fa fa-lock password-icon"></i>
		<input type="password" class="text-input sign-input" ng-model="registration.password" placeholder="{{vocabulary[lang]['Password']}}">
	</div>
	<button class="sign-button" ng-click="userLogin()">{{vocabulary[lang]['Login']}}</button>
	<p style="color:red;margin:0;text-align:center;">{{registration_error}}</p>
	<p class="dont_have_message">{{vocabulary[lang]["Don't have an account?"]}} <a href="#" ng-click="joinClass()">{{vocabulary[lang]['Register']}}</a></p>
</ons-page>
<style>
	.page__background {
		background-color: #b2d454;
	}
</style>