	<ons-page>
		<h2 class="menu-title" style="font-size:15px;"><i class="fa fa-bars" ng-click="menu.toggleMenu()" style="margin-right:10px;font-size:22px;"></i></h2>
		<h3 class="lesson-header">{{milestone_title}}</h3>
		<img src="img/elliptic_sign_bg.png" style="height:96px;width: 100%;"></img>
		<ons-carousel ng-if="milestonePostmetaMedia!='false'" style="height: 315px; width: 100%; text-align:center;" initial-index="0" swipeable overscrollable auto-scroll>
			<ons-carousel-item ng-repeat="media in milestonePostmetaMedia">
				<img ng-if="!checkVideo(media)&&!checkYoutube(media)&&!checkGoogle(media)" src="{{media}}" style="width:100%;"></img>
				<video ng-if="checkVideo(media)" width="320" height="640" controls>
					<source ng-src="{{trustSrc(media)}}" type="video/mp4">
				</video>
				<iframe ng-if="checkYoutube(media)" width="100%" height="315" src="{{trustSrc(media)}}" frameborder="0" allowfullscreen></iframe>
				<iframe ng-if="checkGoogle(media)"  src="{{trustSrc(media)}}" frameborder="0" width="100%" height="315" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
			</ons-carousel-item>
		</ons-carousel>
		<button ng-if="user_type=='student'" class="prev_lesson_but" ng-if="prev!='first'" ng-click="menuLessonClickFunc(prev)" style="margin-top:0;">Previous</button>
		<button ng-if="user_type=='student'" class="next_lesson_but" ng-if="next!='last'" ng-click="menuLessonClickFunc(next)" style="margin-top:0;">Next</button>
		<button ng-if="user_type=='teacher'" class="prev_lesson_but" ng-if="prev!='first'" ng-click="menuTeacherLessonClickFunc(prev,$event)" style="margin-top:0;">Previous</button>
		<button ng-if="user_type=='teacher'" class="next_lesson_but" ng-if="next!='last'" ng-click="menuTeacherLessonClickFunc(next,$event)" style="margin-top:0;">Next</button>
		<div style="clear:both;"></div>
		<div class="info-holder">
			<span>i</span>
			<p ng-if="user_type=='teacher'" ng-bind-html="milestone_info" style="padding:10px;font-size:13px;text-align:right;"></p>
			<iframe style="width:80%;height:auto;" src="{{trustSrc(info_video)}}" frameborder="0" allowfullscreen></iframe>
		</div>
		<p  ng-bind-html="milestone_content" style="padding:10px;font-size:13px;text-align:right;"></p>
	  </ons-page>