	<ons-page>
		<h2 class="menu-title" style="color:#000;"><i class="fa fa-bars" ng-click="menu.toggleMenu()" style="margin-right:10px;color:#000;"></i>פרופיל</h2>
		<div class="round_profile_bg">
		</div>
		<div>
			<section style="padding: 8px; padding-bottom:2px; padding-top:0;margin-bottom:40px;">
				<img src="{{userdata.profile_image}}" ng-click="getPhotoDialog()" class="progile_img"></img>
				<h2 class="user_name">{{registration.login}}</h2>
				
				<!--<ons-button modifier="large" ng-click="getUserCam()" style="width:49%;float:right;">העלה תמונה מהמצלמה</ons-button>-->
				<!--<p class="prof_text">First name<br><input type="text" value="{{registration.name}}"></input></p>
				<p class="prof_text">Last name<br><input type="text" value="{{registration.last_name}}"></input></p>
				<p class="prof_text">Email<br><input type="text" value="{{registration.email}}"></input></p>-->
				<p class="prof_text">Email<br><input type="text" value="{{registration.login}}"></input></p>
				<!--<p class="prof_text" style="margin-top:10px;">Name<br><input type="text" value="{{registration.login}}"></input></p>-->
				<!--<h3>Your course list</h3>
				<ul>
					<li ng-repeat="course in CourseList">
						{{course.ID}} {{course.Title}}
					</li>
				</ul>
				<input type="text" model="course.new_course"></input>
				<button>Join</button>
				<div style="clear:both;"></div>-->
			</section>
		</div>
	</ons-page>
	<style>
		.page__background {
			background-color: #a1e2ff;
		}
	</style>