<ons-page>
	<img src="img/choose-project-top.jpg" class="select-proj-bg" style="top:0;"/>
	<div id="logo" style="top:10%;">
		<img src="img/lets-logo-w.png" style="width:100%;"></img>
	</div>
	<input type="number" class="text-input sign-input" style="padding-left:5px;margin-top:50%;text-align:center;" ng-model="registration.proj_id" placeholder="{{vocabulary[lang]['Enter class id']}}">
	<button ng-click="projChooseFunc(registration.proj_id)" class="sign_button" style="background:#b2d454;margin-top:5%;">{{vocabulary[lang]['Join class']}}</button>
	<p class="or_class" style="margin-top:14%;margin-bottom:6%;">- {{vocabulary[lang]['Join a trial lesson']}} -</p>
	<ul id="choose_project">
		<li ng-repeat="(key, value) in allProjTemplates" ng-click="projChooseFunc(value.ID)">
			{{value.post_title}}
		</li>
	</ul>
	<img src="img/choose-project-bottom.jpg" class="select-proj-bg"/>
</ons-page>
<style>
	.page__background {
		background-color: #abdff4;
	}
	.page__content{
		position: relative;
		background-color: #abdff4;
	}
	body{
		background-color: #abdff4;
	}
	.onsen-sliding-menu__main.ons-sliding-menu-inner{
		box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px!important;
	}
</style>